body,
p,
h1 {
  margin: 0;
  padding: 0;
}

#screen {
  background-color: #000;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen .title {
  margin: 0;
  text-align: center;
  font-size: 150px;
  font-family: "Roboto", sans-serif;
}

#screen .title p {
  color: transparent;
  position: relative;
  background-clip: text;
  background-color: #fff;
  background-size: 250%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first {
  background-image: linear-gradient(to right, #fff, #fff, #007cf0, #00dfd8);
  animation: firstAnimation 9s infinite ease-in-out;
}

.second {
  background-image: linear-gradient(to right, #fff, #fff, #7928ca, #ff0080);
  animation: secondAnimation 9s infinite ease-in-out;
}

.third {
  background-image: linear-gradient(to right, #fff, #fff, #ff4d4d, #f9cb28);
  animation: thirdAnimation 9s infinite ease-in-out;
}

@keyframes firstAnimation {
  0% {
    background-position: 0 50%;
  }
  17.5% {
    background-position: 100% 50%;
  }
  35% {
    background-position: 0 50%;
  }
}

@keyframes secondAnimation {
  33% {
    background-position: 0 50%;
  }
  50.5% {
    background-position: 100% 50%;
  }
  70% {
    background-position: 0 50%;
  }
}

@keyframes thirdAnimation {
  68% {
    background-position: 0 50%;
  }
  85.5% {
    background-position: 100% 50%;
  }
  105% {
    background-position: 0 50%;
  }
}
